<!doctype html>
<html>

<head>
  <title>paper-dropdown-input demo</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <script>
    window.Polymer = window.Polymer || {};
    window.Polymer.dom = 'shadow';
  </script>
  <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

  <link rel="import" href="../paper-dropdown-input.html">
  <link rel="import" href="../../paper-menu/paper-menu.html">
  <link rel="import" href="../../paper-item/paper-item.html">
  <link rel="import" href="dinosaur-card.html">
  <style>
    h3 {
      margin-bottom: 0;
    }
  </style>
</head>

<body unresolved>
  <template id="template" is="dom-bind">
    <h3>Basic input</h3>
    <paper-dropdown-input label="Your favorite dinosaur" items='[[simpleItems]]' on-value-changed="_test"></paper-dropdown-input>
    <h3>Fancy input</h3>
    <paper-dropdown-input label="Your favorite dinosaur" items='[[complexItems]]'>
      <template>
        <template is="dom-repeat" items="[[items]]" as="item">
          <dinosaur-card data="[[item]]"></dinosaur-card>
        </template>
      </template>
    </paper-dropdown-input>
    <h3>No freedom to type something custom</h3>
    <paper-dropdown-input no-freedom label="Your favorite dinosaur" items='[[simpleItems]]'></paper-dropdown-input>
  </template>

  <script>
    var template = document.getElementById('template');
    template._test = function(e,d) {console.log("value change",e,d);}
    template.addEventListener('dom-change', function() {
      // auto-binding template is ready.
      template.simpleItems = [
        "Velociraptor",
        "Deinonychus",
        "Allosaurus",
        "Brontosaurus",
        "Carcharodontosaurus",
        "Diplodocus",
        "T-Rex"
      ];
      template.complexItems = [{
        value: "Velociraptor",
        avatar: "velociraptor.png",
        description: "Velociraptor is a genus of dromaeosaurid theropod dinosaur that lived approximately 75 to 71 million years ago during the later part of the Cretaceous Period. Two species are currently recognized, although others have been assigned in the past. The type species is V. mongoliensis; fossils of this species have been discovered in Mongolia. A second species, V. osmolskae, was named in 2008 for skull material from Inner Mongolia, China."
      }, {
        value: "Deinonychus",
        avatar: "deinonychus.png",
        description: "Deinonychus is a genus of carnivorous dromaeosaurid coelurosaurian dinosaurs, with one described species, Deinonychus antirrhopus. This species, which could grow up to 3.4 metres (11 ft) long, lived during the early Cretaceous Period, about 115–108 million years ago (from the mid-Aptian to early Albian stages). Fossils have been recovered from the U.S. states of Montana, Utah, Wyoming, and Oklahoma, in rocks of the Cloverly Formation, Cedar Mountain Formation and Antlers Formation, though teeth that may belong to Deinonychus have been found much farther east in Maryland."
      }, {
        value: "Allosaurus",
        avatar: "allosaurus.png",
        description: "Allosaurus is a genus of large theropod dinosaur that lived 155 to 150 million years ago during the late Jurassic period (Kimmeridgian to early Tithonian)."
      }, {
        value: "Brontosaurus",
        avatar: "brontosaurus.png",
        description: "Brontosaurus , meaning 'thunder lizard', is a genus of sauropod dinosaurs. Originally named by its discoverer Othniel Charles Marsh in 1879, Brontosaurus had long been considered a junior synonym of Apatosaurus; its original species Brontosaurus excelsus was reclassified as A. excelsus in 1903. However, an extensive study published in 2015 by a joint British-Portuguese research team concluded that Brontosaurus was a valid genus of sauropod distinct from Apatosaurus."
      }, {
        value: "Carcharodontosaurus",
        avatar: "carcharodontosaurus.png",
        description: "Carcharodontosaurus is a genus of carnivorous carcharodontosaurid dinosaurs that existed between 100 and 93 million years ago, during the late Albian to early Cenomanian stages of the mid-Cretaceous Period. It is currently known to include two species, C.saharicus and C.iguidensis, which were among the larger theropods, as large as or slightly bigger than Tyrannosaurus and possibly slightly larger than Giganotosaurus, but not quite as large as Spinosaurus."
      }, {
        value: "Diplodocus",
        avatar: "diplodocus.png",
        description: "Diplodocus is an extinct genus of diplodocid sauropod dinosaurs whose fossils were first discovered in 1877 by S. W. Williston. The generic name, coined by Othniel Charles Marsh in 1878 in reference to its double-beamed chevron bones located in the underside of the tail. Chevron bones of this particular form were initially believed to be unique to Diplodocus; however, since then they have been discovered in other members of the diplodocid family as well as in nondiplodocid sauropods, such as Mamenchisaurus. It is now common scientific opinion that Seismosaurus hallorum is a species of Diplodocus."
      }, {
        value: "T-Rex",
        avatar: "t-rex.png",
        description: "Tyrannosaurus, meaning 'tyrant lizard', is a genus of coelurosaurian theropod dinosaur. The species Tyrannosaurus rex (rex meaning 'king' in Latin), is one of the most well-represented of the large theropods. Tyrannosaurus lived throughout what is now western North America, on what was then an island continent known as Laramidia. Tyrannosaurus had a much wider range than other tyrannosaurids. Fossils are found in a variety of rock formations dating to the Maastrichtian age of the upper Cretaceous Period, 68 to 66 million years ago. It was the last known member of the tyrannosaurids, and among the last non-avian dinosaurs to exist before the Cretaceous–Paleogene extinction event."
      }];
    });
  </script>
</body>

</html>
