:host {
  display: inline-block;
  // position: relative;
  min-width: var(--min-width, 200px);
  // width: var(--min-width, 200px);
}
:host([disabled]) {
  pointer-events: none;
}
input::-webkit-input-placeholder {
  color: var(--paper-input-container-color, --secondary-text-color);
}
input:-moz-placeholder {
  color: var(--paper-input-container-color, --secondary-text-color);
}
input::-moz-placeholder {
  color: var(--paper-input-container-color, --secondary-text-color);
}
input:-ms-input-placeholder {
  color: var(--paper-input-container-color, --secondary-text-color);
}

// paper-listbox ::content > * {
//   // min-width: 200px;
//   border-bottom: 1px solid #E8E8E8;
// }

// paper-listbox ::content > paper-item {
//   padding: 0;
// }

paper-material {
  min-width: var(--min-width, 200px);
  // width: var(--min-width, 200px);
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  z-index: 10;
  opacity: 0;
  &[opened] {
    opacity: 1;
  }
  background-color: white;
}

iron-icon {
  &[invisible] {
    opacity: 0;
  }
  color: inherit !important;
  &[icon="close"] {
    color: var(--paper-dropdown-input-clear-button-color, red) !important;
  }
}

p[grey] {
  color: grey;
}

paper-input-container input {
  color: inherit !important;
}
